/* Сброс стилей по умолчанию */
body, h1, h2, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Основные стили для тела документа */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #EDEDED;
    color: #2C3E50;
}

/* Плавная прокрутка */
html {
    scroll-behavior: smooth;
}

/* Стили для заголовков */
h1 {
    background-color: #EDEDED;
    color: #9B59B6;
    padding: 10px;
    text-align: center;
}

h2 {
    color: #2C3E50;
    margin: 20px 0 10px;
}

/* Стили для навигации */
nav {
    background-color: #9B59B6;
    color: #EDEDED;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Стили для основного контента */
main {
    padding: 20px;
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Стили для ячейки */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Центрирование текста */
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}